@charset "ISO-8859-1";

/* AD - This file contains all of the css for the entire site (external css).*/

/* AD - Media query in respect of smaller screens.
        Ensures that the election machine looks good
        on smaller devices. */
@media only screen and (max-width: 900px) {
	
	/* AD - Customises the container for the dynamic question
        inside the questionnaire question section. 
        This media query ensures that it looks good
        on smaller devices.*/
	.containerDynamicQuestion {
    max-width: 80% !important;
	}
	
    .container {
    max-width: 80% !important;
    }

    .containerMainUpdateCandidates {
    max-width: 80% !important;
    }

    /* AD - Customises the yellow container
    on the adminUpdateCandidate page, which
    contains the candidate table data */
    .containerUpdateCandidatesTable {
     max-width: 98% !important;
    }

    /* AD - Ensures that the registration page main 
       yellow box, still looks good on smaller screens*/
    .container1 {
        max-width: 60% !important;
    }

    /* AD - Ensures that the registration page box inside of the
        main yellow box, still looks good on smaller screens*/
       .container1b {
        max-width: 60% !important;
    }

    .input-radio {
    font-size: small;
    width: 110% !important;
    
    padding: 0.1px 10px 0.1px 10px !important;  /*AD Needed on the questionnaire page */ 
    }  

    /* AD - Customises the navbar for smaller screens */
    .container-nav1 {                           
        width: 97% !important;                                    
    }          
}  

/* Adjustments for a responsive website*/
/* Small devices (landscape phones, 544px and up) */
/*1rem = 16px*/
@media (max-width: 544px)   {            
    h2{font-size: 1.25rem !important;}
    h3{font-size: 1rem !important;}
    h5{font-size: 0.6rem !important;} 
    
    /* AD - Customises the container for the dynamic question
        inside the questionnaire question section. 
        This media query ensures that it looks good
        on very small devices.*/
	.containerDynamicQuestion {
    max-width: 82% !important;
	}   
    
    /* AD - ensures that the answer selection buttons look good on small devices */
    .input-radio {
    text-align: left !important;
    margin-right: 0px !important; 
    padding-left: 0px !important;            
    } 

    /* AD - Ensures that the registration page main 
       yellow box, still looks good on very small screens*/
    .container1 {
    max-width: 100% !important;
    margin: 50px 0px 60px 0px !important;
    }  

    /* AD - Ensures that the registration page box inside of the
    main yellow box, still looks good on smaller screens*/
    .container1b {
    max-width: 80% !important;
    padding: 4px;
    margin: 0px;
    }

    /* AD - Ensures that the registration page box green box 
    inside of the main yellow box, still looks good on smaller screens*/
    .container1c {
    max-width: 15% !important;
    padding: 3px;
    margin: 0px;
    }

    /* AD - Customises the yellow container
    on the adminUpdateCandidate page, which
    contains the candidate table data */
    .containerUpdateCandidatesTable {
    max-width: 99% !important;
    }
}

/* Medium devices (tablets, 768px and up) */
/*1rem = 16px*/
@media (min-width: 768px) {             
    h2{font-size: 1.75rem !important;}
    h3{font-size: 1.25rem !important;}
    h5{font-size: 1rem !important;}
}

/* Large devices (desktops, 992px and up) */
/*1rem = 16px*/
@media (min-width: 992px) { 
    h2{font-size: 2rem !important;}
    h3{font-size: 1.5rem !important;} 
    h5{font-size: 1rem !important;}
}

/* AD - Defines font size for the html page */
html {
    font-family: sans-serif;
  }

/* AD - Customises the body colourings */
body{
    background-color: #2A9D8F;
    color: #264653;
}

/* AD - Customises the main yellow container
on the adminUpdateCandidate page */
.containerMainUpdateCandidates{            
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;         
    background-color: #E9C46A;
    box-shadow: 0 2px 16px 2px #264653;         
    margin: 25px auto 25px auto;                
}


/* AD - Customises the yellow container
on the adminUpdateCandidate page, which
contains the candidate table data */
.containerUpdateCandidatesTable{            
    max-width: 95%;
    padding: 20px;
    border-radius: 10px;         
    background-color:rgba(214, 214, 214, 0.822); /* AD -A unique shade for the data in the tables*/
    box-shadow: 0 2px 16px 2px #264653;         
    margin: 25px auto 25px auto;    
    
    /*
    background-color:rgba(255, 255, 255, 0.336);
    */
}

/* AD - Customises the main election machine questionnaire (yellow container) */
.container{            
    max-width: 50%;
    padding: 30px;
    border-radius: 10px;         
    background-color: #E9C46A;
    box-shadow: 0 2px 16px 2px #264653;         
    margin: 25px auto 60px auto;                
}

/* AD - Customises the registration page main yellow container */
.container1{            
    max-width: 40%;
    padding: 30px;
    border-radius: 10px;         
    background-color: #E9C46A;
    box-shadow: 0 2px 16px 2px #264653;         
    margin: 70px auto 60px auto;
    
    display: flex;
    justify-content: center;             
}

/* AD - Customises the registration page orange box */
.container1a {
    background-color:#F4A261;
    border-radius: 10px; 
    
    margin: 10px auto;
    padding: 10px;

    max-width: 30%;
    text-align: center;
    height: 80%;
    color: rgba(255, 255, 255, 0.829) !important; 
}

/* AD - Customises the registration page main form section */
.container1b{            
    max-width: 60%;
    padding: 30px;
    border-radius: 10px;         
    background-color:#F4A261;
    box-shadow: 0 2px 16px 2px #264653;         
    margin: 10px;
    
    display: flex;
    justify-content: center;                 
}

/* AD - Customises the adminPortal main section */
.containerAdminPortal{            
    max-width: 60%;
    padding: 30px;
    border-radius: 10px;         
    background-color:#F4A261;
    box-shadow: 0 2px 16px 2px #264653;         
    margin: 10px;
    
    display: flex;
    justify-content: center;                 
}

/* AD - Amends the Admin Portal Heading
(such as on the adminPortal.jsp) */
.adminPortal2 {    
    background-color: #E76F51;
    color:rgba(255, 255, 255, 0.781); /* AD - A custom white */
    padding: 10px;
    border-radius: 2px;
}

/* AD - Amends the Admin Portal Menu Heading
(such as on the adminPortal.jsp) */
.adminPortal3 {    
    background-color:#264653;
    color: rgba(255, 255, 255, 0.658); 
    padding: 5px;
    border-radius: 2px;   
}

/* AD - a custom colour for the ACCESS BUTTON */
.adminPortal4 {    
    background-color:#264653;
    color: rgba(255, 255, 255, 0.658);  /* AD - A custom white */
    padding: 1px 4px 1px 4px;     
    border-radius: 2px;
}

/* AD - Customises the registration page main yellow container */
.container1c{    
    background-color: #2A9D8F;    
    border-radius: 10px;    
    margin: 10px auto;
    padding: 10px;
    max-width: 20%;
    text-align: center;
    max-height: 90%;
    color: rgba(255, 255, 255, 0.829) !important;             
}

/* AD - Customises the selection button section (answers) */
.container2 {
    text-align: left;
    margin: 10px auto 10px auto;            
}

/* AD - Customises the registration and login links */
.container3 {
    text-align: center;                              
}

/* AD - Customises the disclaimer colourings */
.container4 {
    background-color:#264653;
    border-radius: 10px; 
    padding: 0.1px 10px 0.1px 10px;  
    color: rgba(255, 255, 255, 0.658);                    
}

/* AD - Customises the introduction colourings on the welcome page
        and in addition, the candidate page introductory message */
.container5 {
    background-color:#2A9D8F;
    border-radius: 10px; 
    padding: 0.1px 10px 0.1px 10px;             
    color: rgba(255, 255, 255, 0.658);                 
}

/* AD - Customises the question section
        of the questionnaire page, where the
        questions will be placed dynamically. */
.container5a {
    background-color:#F4A261;
    border-radius: 10px; 
    padding: 0.1px 10px 0.1px 10px;             
    color: rgba(255, 255, 255, 0.658);                 
}

/* AD - Customises the Welcome message colourings */
.container6 {
    background-color:#F4A261;
    border-radius: 10px; 
    padding: 0.1px 10px 0.1px 10px;  
    margin: 10px auto;                                   
}

/* AD - Customises the section with 'Admin: Update Candidates' 
        on the on the adminUpdateCandidates page */
.container6a {
    background-color:#F4A261;
    border-radius: 10px; 
    padding: 0.1px 10px 0.1px 10px;  
    margin: 10px auto; 
    color: rgba(255, 255, 255, 0.829) !important;   
}

/* AD - Customises the 'please register an account' message */
.container7 {          
    padding: 0.1px 10px 0.1px 10px;              
    color:#264653;                 
}

/* AD - Questionnaire guidance for the user */
.container7a {          
    padding: 0.1px;              
    color:#264653; 
    text-align: center; 
    width: 100%;               
}

/* AD - Customises the candidate overviews */
.container8 {
    /* AD - This is a lighter shade of green and a darker shade of text */
    background-color:#2a9d909f;
    border-radius: 10px; 
    padding: 0.1px 10px 0.1px 10px;             
    color: rgba(255, 255, 255, 0.856);
    margin: 10px auto;                
}

/* AD - Customises the navbar */
.container-nav1 {
    background-color:#2A9D8F;
    border-radius: 10px; 
    padding: 1px;         
    margin: 1px auto;  

    display: flex;
    justify-content: center;             
    width: 90%;
    height: 40px;                       
}

/* AD - Customises the navbar */
.container-nav3 {
    background-color:#2A9D8F;
    border-radius: 10px; 
    padding: 1px;         
    margin: 1px;           
    width: 100%;  

    display: flex;
    justify-content: center;                    
}

/* AD - Customises the container inside the navbar */
.container-nav4 {
    background-color:#2A9D8F;
    border-radius: 10px; 
    padding: 1px;         
    margin: 1px;            
    width: 100%; 
    display: flex;
    justify-content: center;                               
}

/* AD - Navbar customisations */
.container-nav-links {
    background-color: #E9C46A;
    border-radius: 10px; 
    padding: 1px;         
    margin: 4px;              
    width: 80%;             
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    display: flex;
    align-items: center; 
    box-shadow: 0 2px 16px 2px #264653;                                      
}

/* AD - Navbar customisations */
.container-nav-links-icon {    
    border-radius: 10px;         
    margin: 4px;             
    width: 80%;
    display: flex;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;  
    align-items: center;
    box-shadow: 0 2px 16px 2px #264653;
    padding: 1px;
    margin: 4px;       
}

/* AD - Customises the main button stylings */
.button-main {
    background-color: #E76F51;
    border: none;
    color: rgba(255, 255, 255, 0.829); 
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;                      
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
    margin: 20px 10px 0px 10px; 
    width: 90px;            
}

/* AD - Questionnaire button modifications */

.questionnaireButton {
    background-color: #2A9D8F;
}

/* AD - Customises the button hover effects */
/* visited link */
.button1:visited {
color: #264653;
text-decoration: none;
}

/* AD - mouse over link */
.button1:hover {
color: #264653;
text-decoration: none;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* AD - selected link */
.button1:active {
color: #2A9D8F;
text-decoration: none;
}      
   
/* AD - Customises the radial buttons (answers) */
.input-radio {
    display: inline-block;           
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.829);  
    margin: 10px auto;
    padding: 0.1px 20px 0.1px 10px; 
}

/* AD - font customisation */
.resize1 {
    font-size: 40px;          
}

/* AD - font customisation */
.resize2 {
    font-size: 50px;
}

/* AD - font customisation */
.resize3 {
    font-size: 25px;          
}

/* AD - Customising the green home button
        in the navbar */
.resize3a {
    font-size: 22px;
    padding-top: 4px;          
}

/* AD - heading customisation */
h2 {
    color: rgba(255, 255, 255, 0.829);  
}

/* AD - customisation of the navbar links */
 /* unvisited link */
a:link {
color: #264653;
text-decoration: none;
}

/* AD - visited link */
a:visited {
color: #264653;
text-decoration: none;
}

/* AD - mouse over link */
a:hover {
color: white;
text-decoration: none;
}

/* AD - selected link */
a:active {
color: #2A9D8F;
text-decoration: none;
}  

/* AD - Table heading customisation
(such as on the adminUpdateCandidates.jsp) */
.tableCustom1 {
   
background-color:#264653;
color: rgba(255, 255, 255, 0.555);
/*
background-color: #E76F51;
*/
}

/* AD - Table heading customisation
for the update and delete buttons
(such as on the adminUpdateCandidates.jsp) */
.tableCustom2 {    
    color: #98a2ff; /* AD - a custom shade for updating */
}

/* AD - Table heading customisation
for the add button
(such as on the adminUpdateCandidates.jsp) */
.tableAdd {    
    color: #04a138; /* AD - a custom shade for updating */
}

/* AD - Table background customisation
for the add button (such as on the adminUpdateCandidates.jsp) */
.tableAddBackground {    
    background-color:#264653; /* AD - a custom colour for deleting */
    text-align: center;
} 

/* AD - Table heading customisation
for the update and delete buttons
(such as on the adminUpdateCandidates.jsp) */
.tableCustom3 {    
    color:#ff7171; /* AD - a custom colour for deleting */
}

/* AD - Table customisation
for the rows of the table
(such as on the adminUpdateCandidates.jsp) */
.tableCustom4 {    
    background-color:rgba(255, 255, 255, 0.555); /* AD - a custom colour for deleting */
}

/* AD - Table customisation
for specific cells (sich as update and delete
(such as on the adminUpdateCandidates.jsp) */
.tableCustom5 {    
    background-color:#264653; /* AD - a custom colour for deleting */
} 

/* AD - customises the word 'select'
    on the questionnaire page.*/
.questionnaireSelect {
    color: rgba(255, 255, 255, 0.856);;
}

/* AD - Customises the container for the dynamic question
        inside the questionnaire question section. */
.containerDynamicQuestion {
    background-color:#264653;
    border-radius: 10px; 
    
    color: rgba(255, 255, 255, 0.658);
    
    margin: 5px 20px 5px 5px;
    padding: 0.1px 10px 0.1px 10px;   
    
    
    /*
    padding: 0.1px 10px 0.1px 10px;
     width: 90%;   
    */  
}

